---
layout: page
title: andrewreitz.com
tagline: Reitz; pronounced rights
---
{% include JB/setup %}

<p>Hi! I'm Andrew, a Developer in Minneapolis, M.N.  I currently am a Android Developer at <a href="//smartthings.com">SmartThings</a>.</p>
<p>
I love to program! I am an Android Ethusiast but I like to dabble in all sorts of different technologies.  Other than 
programming playing with computers and other tech stuff, my intrests include snowboarding, rock climbing, playing video games, reading, and coffee!
</p>

<h2>Recent Posts</h2>
<ul class="posts">
  {% for post in paginator.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
	<!--p>{{ post.excerpt }}</p-->
    </li>
  {% endfor %}
</ul>
